<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collegewood Electrical - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-container">
      <div class="main-column">
        <div class="header main-row">
          <div class="main-row">
            <h1 class="title">Collegewood Electrical</h1>
          </div>
          <div class="main-row">
            <ul class="nav">
              <li><a href="/">About Us</a></li>
              <li><a href="/">Contact Us</a></li>
              <li><a href="/domestic.html">Domestic Installations</a></li>
              <li><a href="/commercial.html">Commercial Installations</a></li>
              <li><a href="/inspection.html">Electrical Testing and Verification</a></li>
              <li><a href="/maintenance.html">Commercial Maintenance</a></li>
            </ul>
          </div>
        </div>
        </div>
            <div class="text-wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=353852205270&text=Hi%20Collegewood," class="float" target="_blank">
      <i class="fa fa-whatsapp wa-float"></i>
    </a>
  </body>
</html>
